<script>
  const format = (x) => (x < 10) ? "0" + x : x;

  setInterval(() => {
    let delta = (new Date("2055/12/31") - new Date()) / 1000;
    
    const days = delta / 86400 | 0;
    document.getElementById('days').innerHTML =  days;
    delta -= days * 86400;

    const hours = (delta / 3600 | 0) % 24;
    document.getElementById('hours').innerHTML = format(hours);
    delta -= hours * 3600;

    const minutes = (delta / 60 | 0) % 60;
    document.getElementById('mins').innerHTML = `:${format(minutes)}:`;
    delta -= minutes * 60;

    document.getElementById('secs').innerHTML = format((delta % 60) | 0);

  }, 1000);

</script>

<div class="expiration">
  <span class="right1">Expired by:</span></br>
  <span class="right1">
    <span id="days"></span> <span id="hours"></span><span id="mins"></span><span id="secs"></span>
  </span>
</div>